<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - 我的 ASP.NET 應用程式</title>

    @Styles.Render("~/Admin/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><span>PenCool</span>Admin</a>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
        <div class="profile-sidebar">
            <div class="profile-userpic">
                <img src="http://placehold.it/50/30a5ff/fff" class="img-responsive" alt="">
            </div>
            <div class="profile-usertitle">
                <div class="profile-usertitle-name">管理者</div>
                <div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="divider"></div>
        <ul class="nav menu">
            <li class="parent">
                <a href=@Url.RouteUrl(new {Controller = "Admin",Action = "" })><i class="fas fa-tachometer-alt">&nbsp;</i> 儀表板</a>
            </li>
            <li>
                <a href=@Url.RouteUrl(new {Controller = "Admin",Action = "Members" })><i class="fas fa-users">&nbsp;</i> 會員管理</a>
            </li>
            <li class="parent">
                <a data-toggle="collapse" href="#sub-item-1">
                    <em class="fa fa-navicon">&nbsp;</em> 產品管理 <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="fa fa-plus"></em></span>
                </a>
                <ul class="children collapse" id="sub-item-1">
                    <li>
                        <a class="" href=@Url.RouteUrl(new {Controller = "Admin",Action = "Products" })>
                            <span class="fa fa-arrow-right">&nbsp;</span> 產品列表
                        </a>
                    </li>
                    <li>
                        <a class="" href=@Url.RouteUrl(new {Controller = "Admin",Action = "CreateProduct" })>
                            <span class="fa fa-arrow-right">&nbsp;</span> 新增產品
                        </a>
                    </li>
                </ul>
            </li>
            <li class="parent">
                <a data-toggle="collapse" href="#sub-item-2">
                    <em class="fa fa-navicon">&nbsp;</em> 訂單管理 <span data-toggle="collapse" href="#sub-item-2" class="icon pull-right"><em class="fa fa-plus"></em></span>
                </a>
                <ul class="children collapse" id="sub-item-2">
                    <li>
                        <a class="" href=@Url.RouteUrl(new {Controller="Admin",Action = "SearchOrder" })>
                            <span class="fa fa-arrow-right">&nbsp;</span> 訂單搜尋
                        </a>
                    </li>
                    <li>
                        <a class="" href=@Url.RouteUrl(new {Controller="Admin",Action = "UnDeliveryOrder" })>
                            <span class="fa fa-arrow-right">&nbsp;</span> 未出貨訂單
                        </a>
                    </li>
                    <li>
                        <a class="" href=@Url.RouteUrl(new {Controller="Admin",Action = "ShippedOrder" })>
                            <span class="fa fa-arrow-right">&nbsp;</span> 已出貨訂單
                        </a>
                    </li>
                    <li>
                        <a class="" href="">
                            <span class="fa fa-arrow-right">&nbsp;</span> 已到貨訂單
                        </a>
                    </li>
                    <li>
                        <a class="" href="">
                            <span class="fa fa-arrow-right">&nbsp;</span> 已完成訂單
                        </a>
                    </li>
                    <li>
                        <a class="" href="">
                            <span class="fa fa-arrow-right">&nbsp;</span> 客戶取消訂單
                        </a>
                    </li>
                </ul>
            </li>
            <li class="parent">
                <a data-toggle="collapse" href="#sub-item-3">
                    <em class="fa fa-navicon">&nbsp;</em> 類別管理 <span data-toggle="collapse" href="#sub-item-3" class="icon pull-right"><em class="fa fa-plus"></em></span>
                </a>
                <ul class="children collapse" id="sub-item-3">
                    <li>
                        <a class="" href="">
                            <span class="fa fa-arrow-right">&nbsp;</span> 類別列表
                        </a>
                    </li>
                    <li>
                        <a class="" href="">
                            <span class="fa fa-arrow-right">&nbsp;</span> 新增類別
                        </a>
                    </li>
                </ul>
            </li>
            <li class="parent">
                <a data-toggle="collapse" href="#sub-item-4">
                    <em class="fa fa-navicon">&nbsp;</em> 付款方式管理 <span data-toggle="collapse" href="#sub-item-4" class="icon pull-right"><em class="fa fa-plus"></em></span>
                </a>
                <ul class="children collapse" id="sub-item-4">
                    <li>
                        <a class="" href="">
                            <span class="fa fa-arrow-right">&nbsp;</span> 付款方式列表
                        </a>
                    </li>
                    <li>
                        <a class="" href="">
                            <span class="fa fa-arrow-right">&nbsp;</span> 新增付款方式
                        </a>
                    </li>
                </ul>
            </li>
            <li class="parent">
                <a data-toggle="collapse" href="#sub-item-5">
                    <em class="fa fa-navicon">&nbsp;</em> 運送方式管理 <span data-toggle="collapse" href="#sub-item-5" class="icon pull-right"><em class="fa fa-plus"></em></span>
                </a>
                <ul class="children collapse" id="sub-item-5">
                    <li>
                        <a class="" href="">
                            <span class="fa fa-arrow-right">&nbsp;</span> 運送方式列表
                        </a>
                    </li>
                    <li>
                        <a class="" href="">
                            <span class="fa fa-arrow-right">&nbsp;</span> 新增運送方式
                        </a>
                    </li>
                </ul>
            </li>
            <li><a href="login.html"><em class="fa fa-power-off">&nbsp;</em> Logout</a></li>
        </ul>
    </div><!--/.sidebar-->

    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        @RenderBody()
    </div>
    @Scripts.Render("~/Admin/jquery");
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            $("#file").on("change", function () {
                var file = this.files[0];
                if (this.files && file) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(file);
                }
            });

            
        })
        $(window).load(function () {
            $(".flow ul li button").attr("class", "btn btn-block");
            $("#" + @Html.Raw(Json.Encode(TempData["orderStatus"]))).attr("class", "btn btn-primary btn-block");
            
        });
        //$(".flow ul li button").on("click", function (e) {
        //    $(".flow ul li button").attr("class", "btn btn-block")
        //    $(this).attr("class", "btn btn-primary btn-block")
        //});
    </script>
    @if (TempData["message"] != null)
    {
        <script type="text/javascript">
        var message = @Html.Raw(Json.Encode(TempData["message"]));
        alert(message);
        </script>
    }
</body>
</html>
