@model StoreData.ViewModels.Customer.CustomerView

@{
    ViewBag.Title = "SelectCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/NewHome/css")
<div class="banner10" id="home1">
    <div class="container">
        <h2>Member Modification</h2>
    </div>
</div>
<div class="breadcrumb_dress">
    <div class="container">
        <ul>
            <li>
                <a href=@Url.RouteUrl(new { Controller = "Home", Action = "Index"})>
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home
                </a>
                <i>/</i>
            </li>
            <li>Member Modification</li>
        </ul>
    </div>
</div>
<div class="dresses">
    <div class="container">
        <div class="w3ls_dresses_grids">
            <div class="col-md-4 w3ls_dresses_grid_left">
                @{ Html.RenderPartial("SideBar");}
            </div>
            <br /><br />

                  <div class="col-md-8 mt-5 " style="border:1px solid #E1E1E1">
                      <br />
                      @using (Html.BeginForm("ChangeCustomerPassword", "Customer"))
                      {
                          
                          <h3>密碼修改</h3>
                          <br />
                          <div class="input-group" style="width: 80%">
                              @Html.DisplayNameFor(model=>model.CustomerID) : @Model.CustomerID
                              <input name="CustomerID" value="@Model.CustomerID" hidden />
                          </div>
                          <div class="input-group" style="width: 80%">
                              <input name="CustomerPassword" class="form-control mt-3" style="background-color:#F5F5F5" type="password" placeholder="舊密碼" value="@Model.CustomerPassword"/>
                              @Html.ValidationMessageFor(model => model.CustomerPassword, null, new { @class = "text-danger" })
                          </div>
                          <div class="input-group " style="width: 80%">
                              @Html.TextBoxFor(model => model.CustomerPassword, new { @class = "form-control mt-3", @style = "background-color: #F5F5F5", @type = "Password", @placeholder = "新密碼" })
                              @Html.ValidationMessageFor(model => model.CustomerPassword, null, new { @class = "text-danger" })
                          </div>
                          <button type="submit" class="btn btn-warning mt-3">確認修改</button>

                      }
                      <br /><br />
                      <div class="clearfix"> </div>
                  </div>
        </div>
    </div>
</div>

