@model StoreData.ViewModels.Customer.CartItem

@{
    ViewBag.Title = "Chart";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@Styles.Render("~/NewHome/css");

<div class="banner10" id="home1">
    <div class="container">
        <h2>Checkout</h2>
    </div>
</div>
<div class="breadcrumb_dress">
    <div class="container">
        <ul>
            <li><a href=@Url.RouteUrl(new { Controller = "Home", Action = "Index" })><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a> <i>/</i></li>
            <li>Checkout</li>
        </ul>
    </div>
</div>
<div class="checkout">
    <div class="container">
        

        <div class="checkout-right">



            <table class="timetable_sub">
                <thead>
                    <tr>                      
                        <th style="width:300px">Product</th>
                        <th>Quantity</th>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th>Remove</th>
                    </tr>
                </thead>

                @foreach (var item in Model.GetAllChartList)
            {
            <tr class="rem1">                
                <td class="invert-image"><a href=@Url.RouteUrl(new { Controller = "Customer", Action = "Chart" })><img src="~/FileUploads/@item.Path" alt=" " class="img-responsive" /></a></td>
                <td class="invert">
                    <div class="quantity">
                        <div class="quantity-select">
                            <div class="entry value-minus">&nbsp;</div>
                            <div class="entry value"><span>@item.Quantity</span></div>
                            <div class="entry value-plus active">&nbsp;</div>
                        </div>
                    </div>
                </td>
                <td class="invert">@item.ProductName</td>
                <td class="invert">@item.UnitPrice</td>
                <td class="invert">
                    <div class="rem">
                        <div class="close1"></div>
                    </div>
                </td>
            </tr>
        }
            </table>


            <script>
                $('.value-plus').on('click', function () {
                    var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10) + 1;
                    divUpd.text(newVal);
                });

                $('.value-minus').on('click', function () {
                    var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10) - 1;
                    if (newVal >= 1) divUpd.text(newVal);
                });
                //1
                $(document).ready(function (c) {
                    $('.close1').on('click', function (c) {
                        $('.rem1').fadeOut('slow', function (c) {
                            $('.rem1').remove();
                        });
                    });
                });      
                
            </script>
        </div>
        <div class="checkout-left">
            <div class="checkout-left-basket">
                <h4>Total Amount</h4>
                <ul>
                   
                    @foreach (var item in Model.GetAllChartList)
                    {
                       
                        <li>@item.ProductName <i>-</i> <span>@(item.Quantity*item.UnitPrice) </span></li>
                        
                        @*<li>Total <i>-</i> <span>@(item.Quantity * item.UnitPrice)</span></li>*@
                    }
                    </ul>
            </div>
           
            <div class="checkout-right-basket">
                <a href=@Url.RouteUrl(new {Controller="Product" ,Action="ProductList"})><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Continue Shopping</a>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

