@model StoreData.ViewModels.Customer.OrderView

@{
    ViewBag.Title = "OrderList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/NewHome/css")

<div class="banner10" id="home1">
    <div class="container">
        <h2>Member Modification</h2>
    </div>
</div>
<div class="breadcrumb_dress">
    <div class="container">
        <ul>
            <li>
                <a href=@Url.RouteUrl(new { Controller = "Home", Action = "Index"})>
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home
                </a>
                <i>/</i>
            </li>
            <li>Member Modification</li>
        </ul>
    </div>
</div>

<div class="dresses">
    <div class="container">
        <div class="w3ls_dresses_grids">
            <div class="col-md-4 w3ls_dresses_grid_left">
                @{ Html.RenderPartial("SideBar");}
            </div>
            <br /><br />

                  <div class="col-md-8 mt-5 " style="border:1px solid #E1E1E1">
                      <br />

                      <h3>訂單資料查詢</h3>
                      <br />
                      @using (Html.BeginForm("OrderList", "Customer"))
                      {
                          <div class="input-group" style="width: 60%">
                              <div class="input-group">

                                  <input name="orderId" type="text" class="form-control" placeholder="訂單查詢" style="background-color: #F5F5F5">
                                  <span class="input-group-btn">
                                      <button class="btn btn-default" type="submit">查詢</button>
                                  </span>

                              </div>
                          </div>
                      }
                      <table class="table">
                          <thead>
                              <tr>
                                  <th>訂單編號</th>
                                  <th>訂單時間</th>
                                  <th>出貨時間</th>
                                  <th>付款方式</th>
                                  <th>總金額</th>
                                  <th>狀態</th>
                              </tr>
                          </thead>
                          <tbody>
                              @foreach (var item in Model.DataList)
                              {
                                  <tr>
                                      <td><a href=@Url.Action("OrderDetailList","Customer",new {orderId=item.OrderID,amount = item.Amount })>@item.OrderID</a></td>
                                      <td>@item.OrderDate</td>
                                      <td>@item.ShippedDate</td>
                                      <td>@item.PaymentMethod</td>
                                      <td>@item.Amount</td>
                                      <td>
                                          @if (item.Status == 0)
                                          {
                                              <span>未出貨</span>
                                          }
                                          else if (item.Status == 1)
                                          {
                                              <span>已出貨</span>
                                          }
                                          else if (item.Status == 2)
                                          {
                                              <span>已到貨</span>
                                          }
                                          else if (item.Status == 3)
                                          {
                                              <span>已完成</span>
                                          }
                                          else if (item.Status >= 4)
                                          {
                                              <span>取消訂單</span>
                                          }
                                      </td>
                                  </tr>
                              }
                          </tbody>
                      </table>

                      <br /><br />
                  </div>
            <div class="clearfix"> </div>
        </div>

    </div>
</div>