@model StoreData.ViewModels.Customer.CustomerView

@{
    ViewBag.Title = "SelectCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/NewHome/css")
<div class="banner10" id="home1">
    <div class="container">
        <h2>Member Modification</h2>
    </div>
</div>
<div class="breadcrumb_dress">
    <div class="container">
        <ul>
            <li>
                <a href=@Url.RouteUrl(new { Controller = "Home", Action = "Index"})>
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home
                </a>
                <i>/</i>
            </li>
            <li>Member Modification</li>
        </ul>
    </div>
</div>
<div class="dresses">
    <div class="container">
        <div class="w3ls_dresses_grids">
            <div class="col-md-4 w3ls_dresses_grid_left">
                @{ Html.RenderPartial("SideBar");}
            </div>
            <br><br>

            <div class="col-md-8 mt-5 " style="border:1px solid #E1E1E1">
                <br>
                <div class="border border-primary ">
                    <h3>會員資料修改</h3>
                    <br>
                    @using (Html.BeginForm("UpdateCustomer", "Customer"))
                    {
                        <div class="row">
                            <div class="col-sm-5" style="margin-top: 5px;">
                                @Html.DisplayNameFor(model => model.CustomerID) : @Model.CustomerID
                                <input name="CustomerID" value="@Model.CustomerID" hidden />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2" style="margin-top: 20px;">
                                @Html.DisplayNameFor(model => model.CustomerName) :
                            </div>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(model => model.CustomerName, new { @class = "form-control mt-3", @style = "background-color: #F5F5F5; margin-top: 15px;", @type = "text", @name = "CustomerName" })
                                @Html.ValidationMessageFor(model => model.CustomerName, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2" style="margin-top: 20px;">
                                @Html.DisplayNameFor(model => model.Telephone) :
                            </div>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(model => model.Telephone, new { @class = "form-control mt-3", @style = "background-color: #F5F5F5; margin-top: 15px;", @type = "text", @name = "Telephone" })
                                @Html.ValidationMessageFor(model => model.Telephone, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2" style="margin-top: 20px;">
                                @Html.DisplayNameFor(model => model.Address) :
                            </div>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(model => model.Address, new { @class = "form-control mt-3", @style = "background-color: #F5F5F5; margin-top: 15px;", @type = "text", @name = "Address" })
                                @Html.ValidationMessageFor(model => model.Address, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2" style="margin-top: 20px;">
                                @Html.DisplayNameFor(model => model.CustomerMail) :
                            </div>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(model => model.CustomerMail, new { @class = "form-control mt-3", @style = "background-color: #F5F5F5; margin-top: 15px;", @type = "text", @name = "CustomerMail" })
                                @Html.ValidationMessageFor(model => model.CustomerMail, null, new { @class = "text-danger" })
                            </div>
                        </div>
                            <button type="submit" class="btn btn-warning" style="margin-top: 15px; margin-left: 125px;">確認修改</button>
                            <input name="CustomerPassword" value="@Model.CustomerPassword" hidden />
                            <br><br>
                    }
                </div>

                <div class="clearfix"> </div>
            </div>

        </div>
    </div>
</div>

