@model StoreData.ViewModels.Home.HomeIndexTop

@{
    ViewBag.Title = "首頁";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/NewHome/css")

<div class="banner" id="home1">
    <div class="container">
        <h3>
            fashions fade,
            <span>style is eternal</span>
        </h3>
    </div>
</div>
<!-- //banner -->
<!-- banner-bottom -->
<div class="banner-bottom">
    <div class="container">
        <div class="col-md-5 wthree_banner_bottom_left">
            <div class="video-img">
                <a class="play-icon popup-with-zoom-anim" href="#">
                </a>
            </div>
            <!-- pop-up-box -->
            <!--//pop-up-box -->
            <div id="small-dialog" class="mfp-hide">

            </div>
            <script>
                $(document).ready(function () {
                    $('.popup-with-zoom-anim').magnificPopup({
                        type: 'inline',
                        fixedContentPos: false,
                        fixedBgPos: true,
                        overflowY: 'auto',
                        closeBtnInside: true,
                        preloader: false,
                        midClick: true,
                        removalDelay: 300,
                        mainClass: 'my-mfp-zoom-in'
                    });

                });
            </script>
        </div>
        <div class="col-md-7 wthree_banner_bottom_right">
            <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="myTab" class="nav nav-tabs" role="tablist" style="display:flex;justify-content:space-between;text-align:center">
                    <li role="presentation" class="active" style="flex:1 1 auto">
                        <a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home">筆類</a>
                    </li>
                    <li role="presentation" style="flex:1 1 auto">
                        <a href="#skirts" role="tab" id="skirts-tab" data-toggle="tab" aria-controls="skirts">筆記本</a>
                    </li>
                    <li role="presentation" style="flex:1 1 auto">
                        <a href="#watches" role="tab" id="watches-tab" data-toggle="tab" aria-controls="watches">資料夾</a>
                    </li>
                    <li role="presentation" style="flex:1 1 auto">
                        <a href="#sandals" role="tab" id="sandals-tab" data-toggle="tab" aria-controls="sandals">相框</a>
                    </li>
                    <li role="presentation" style="flex:1 1 auto">
                        <a href="#jewellery" role="tab" id="jewellery-tab" data-toggle="tab" aria-controls="jewellery">月曆</a>
                    </li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
                        <div class="agile_ecommerce_tabs">
                            @foreach (var item in Model.ProductsList.Where(x => x.CategoryID == 1).Take(3))
                            {
                                <div class="col-md-4 agile_ecommerce_tab_left">
                                    <div class="imageboxshadow">
                                        <a href=@Url.RouteUrl(new {Controller="Product" ,Action="ProductItem", Id = item.ProductID })>
                                            <img src=~/FileUploads/@item.Path alt=" " class="" />
                                        </a>
                                    </div>
                                    <h5>
                                        <a href=@Url.RouteUrl(new {Controller="Product" ,Action="ProductItem" , Id=item.ProductID })>@item.ProductName</a>
                                    </h5>
                                    <div class="simpleCart_shelfItem">
                                        <p>
                                            <i class="item_price">$@item.UnitPrice</i>
                                        </p>
                                        <p>
                                            <a href=@Url.RouteUrl(new {Controller="Product" ,Action="ProductItem" , Id=item.ProductID })>QUICK VIEW</a>
                                        </p>
                                    </div>
                                </div>
                            }
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="skirts" aria-labelledby="skirts-tab">
                        <div class="agile_ecommerce_tabs">
                            @foreach (var item in Model.ProductsList.Where(x => x.CategoryID == 2).Take(3))
                            {
                                <div class="col-md-4 agile_ecommerce_tab_left">
                                    <div class="imageboxshadow">
                                        <a href=@Url.RouteUrl(new {Controller="Product" ,Action="ProductItem" , Id=item.ProductID })>
                                            <img src=~/FileUploads/@item.Path alt=" " class="" />
                                        </a>
                                    </div>
                                    <h5>
                                        <a href=@Url.RouteUrl(new {Controller="Product" ,Action="ProductItem" , Id=item.ProductID })>@item.ProductName</a>
                                    </h5>
                                    <div class="simpleCart_shelfItem">
                                        <p>
                                            <i class="item_price">$@item.UnitPrice</i>
                                        </p>
                                        <p>
                                            <a href=@Url.RouteUrl(new {Controller="Product" ,Action="ProductItem" , Id=item.ProductID })>QUICK VIEW</a>
                                        </p>
                                    </div>
                                </div>
                            }
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="watches" aria-labelledby="watches-tab">
                        <div class="agile_ecommerce_tabs">
                            @foreach (var item in Model.ProductsList.Where(x => x.CategoryID == 3).Take(3))
                            {
                                <div class="col-md-4 agile_ecommerce_tab_left">
                                    <div class="imageboxshadow">
                                        <a href=@Url.RouteUrl(new {Controller="Product" ,Action="ProductItem" , Id=item.ProductID })>
                                            <img src=~/FileUploads/@item.Path alt=" " class="" />
                                        </a>
                                    </div>
                                    <h5>
                                        <a href=@Url.RouteUrl(new {Controller="Product" ,Action="ProductItem" , Id=item.ProductID })>@item.ProductName</a>
                                    </h5>
                                    <div class="simpleCart_shelfItem">
                                        <p>
                                            <i class="item_price">$@item.UnitPrice</i>
                                        </p>
                                        <p>
                                            <a href=@Url.RouteUrl(new {Controller="Product" ,Action="ProductItem" , Id=item.ProductID })>QUICK VIEW</a>
                                        </p>
                                    </div>
                                </div>
                            }
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="sandals" aria-labelledby="sandals-tab">
                        <div class="agile_ecommerce_tabs">
                            @foreach (var item in Model.ProductsList.Where(x => x.CategoryID == 7).Take(3))
                            {
                                <div class="col-md-4 agile_ecommerce_tab_left">
                                    <div class="imageboxshadow">
                                        <a href=@Url.RouteUrl(new {Controller="Product" ,Action="ProductItem" , Id=item.ProductID })>
                                            <img src=~/FileUploads/@item.Path alt=" " class="" />
                                        </a>
                                    </div>
                                    <h5>
                                        <a href=@Url.RouteUrl(new {Controller="Product" ,Action="ProductItem" , Id=item.ProductID })>@item.ProductName</a>
                                    </h5>
                                    <div class="simpleCart_shelfItem">
                                        <p>
                                            <i class="item_price">$@item.UnitPrice</i>
                                        </p>
                                        <p>
                                            <a href=@Url.RouteUrl(new {Controller="Product" ,Action="ProductItem" , Id=item.ProductID })>QUICK VIEW</a>
                                        </p>
                                    </div>
                                </div>
                            }
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="jewellery" aria-labelledby="jewellery-tab">
                        <div class="agile_ecommerce_tabs">
                            @foreach (var item in Model.ProductsList.Where(x => x.CategoryID == 10).Take(3))
                            {
                                <div class="col-md-4 agile_ecommerce_tab_left">
                                    <div class="imageboxshadow">
                                        <a href=@Url.RouteUrl(new {Controller="Product" ,Action="ProductItem" , Id=item.ProductID })>
                                            <img src=~/FileUploads/@item.Path alt=" " class="" />
                                        </a>
                                    </div>
                                    <h5>
                                        <a href=@Url.RouteUrl(new {Controller="Product" ,Action="ProductItem" , Id=item.ProductID })>@item.ProductName</a>
                                    </h5>
                                    <div class="simpleCart_shelfItem">
                                        <p>
                                            <i class="item_price">$@item.UnitPrice</i>
                                        </p>
                                        <p>
                                            <a href=@Url.RouteUrl(new {Controller="Product" ,Action="ProductItem" , Id=item.ProductID })>QUICK VIEW</a>
                                        </p>
                                    </div>
                                </div>
                            }
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //banner-bottom -->
<!-- banner-bottom1 -->
<div class="banner-bottom1">
    <div class="agileinfo_banner_bottom1_grids">
        <div class="col-md-7 agileinfo_banner_bottom1_grid_left" style="padding-right:100px;">
            <h3 style="margin-bottom:200px;">
                <strong>Grand Opening Event With flat</strong>
                <span>
                    NO
                    <i>Discount</i>
                </span>
            </h3>
            <a href=@Url.RouteUrl(new {Controller="Product" ,Action="ProductList" })>Shop Now</a>
        </div>
        <div class="col-md-5 agileinfo_banner_bottom1_grid_right">
            <h4>hot deal</h4>
            <div class="timer_wrap">
                <div id="counter"> </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //banner-bottom1 -->
<!-- special-deals -->
<div class="special-deals">
    <div class="container">
        <h2>Special Deals</h2>
        <div class="w3agile_special_deals_grids">
            <div class="col-md-7 w3agile_special_deals_grid_left">
                <div class="w3agile_special_deals_grid_left_grid">
                    <img src="~/FileUploads/3.jpg" alt=" " class="img-responsive" />
                    <div class="w3agile_special_deals_grid_left_grid_pos1">
                        <h5>
                            NO
                            <span>Off/-</span>
                        </h5>
                    </div>
                    <div class="w3agile_special_deals_grid_left_grid_pos">
                        <h4 style="color:#fff">
                            We Offer
                            <span style="color:#fff">Best Products</span>
                        </h4>
                    </div>
                </div>
                <div class="wmuSlider example1">
                    <div class="wmuSliderWrapper">
                        <article style="position: absolute; width: 100%; opacity: 0;">
                            <div class="banner-wrap">
                                <div class="w3agile_special_deals_grid_left_grid1">
                                    <img src="~/FileUploads/A001.jpg" alt=" " class="img-responsive" style="height:80px;border-radius:50%;" />
                                    <p>
                                        筆身採六角設計，不易滾動、書寫順手的油性原子筆
                                    </p>
                                    <h4>PP六角按壓原子筆(黑)</h4>
                                </div>
                            </div>
                        </article>
                        <article style="position: absolute; width: 100%; opacity: 0;">
                            <div class="banner-wrap">
                                <div class="w3agile_special_deals_grid_left_grid1">
                                    <img src="~/FileUploads/A005.jpg" alt=" " class="img-responsive" style="height:80px;border-radius:50%;" />
                                    <p>
                                        筆身採六角設計，不易滾動、書寫順手的油性原子筆
                                    </p>
                                    <h4>PP六角按壓原子筆(紅)</h4>
                                </div>
                            </div>
                        </article>
                        <article style="position: absolute; width: 100%; opacity: 0;">
                            <div class="banner-wrap">
                                <div class="w3agile_special_deals_grid_left_grid1">
                                    <img src="~/FileUploads/A003.jpg" alt=" " class="img-responsive" style="height:80px;border-radius:50%;" />
                                    <p>
                                        好寫、快乾，有豐富的色彩可供選擇。透明筆身富輕盈感，且能直接看見墨水本身
                                    </p>
                                    <h4>膠墨中性筆</h4>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <script>
                    $('.example1').wmuSlider();
                </script>
            </div>
            <div class="col-md-5 w3agile_special_deals_grid_right">
                <img src="~/FileUploads/Index_Right.jpg" alt=" " class="img-responsive" style="height:711px;" />
                <div class="w3agile_special_deals_grid_right_pos">
                    <h4 style="color:#fff">
                        <span style="color:#fff">Fashion</span>
                        <span style="color:#fff">Fountain</span>
                    </h4>
                    <h5 style="color:#fff">
                        Pen
                    </h5>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //special-deals -->
<!-- new-products -->
<div class="new-products">
    <div class="container">
        <h3>New Products</h3>
        <div class="agileinfo_new_products_grids">
            @foreach (var item in Model.MidProductsList)
            {
                <div class="col-md-3 agileinfo_new_products_grid">
                    <div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">
                        <div class="imageboxshadow">
                            <a href=@Url.RouteUrl(new {Controller="Product" ,Action="ProductItem" , Id=item.ProductID })>
                                <img src=~/FileUploads/@item.Path alt=" " class="" />
                            </a>
                        </div>
                        <h5>
                            <a href=@Url.RouteUrl(new {Controller="Product" ,Action="ProductItem" , Id=item.ProductID })>@item.ProductName</a>
                        </h5>
                        <div class="simpleCart_shelfItem">
                            <p>

                                <i class="item_price">$@item.UnitPrice</i>
                            </p>
                            <p>
                                <a href=@Url.RouteUrl(new {Controller="Product" ,Action="ProductItem" , Id=item.ProductID })>QUICK VIEW</a>
                            </p>
                        </div>
                    </div>
                </div>

            }
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //new-products -->
<!-- top-brands -->
<div class="top-brands">
    <div class="container">
        <h3>Top Brands</h3>
        <div class="sliderfig">
            <ul id="flexiselDemo1">
                @foreach (var item in Model.DownProductsList)
                {
                    <li>
                        <a href=@Url.RouteUrl(new {Controller="Product" ,Action="ProductItem" , Id=item.ProductID })>
                            <img src="~/FileUploads/@item.Path" alt=" " class="img-responsive" />
                        </a>
                        <h5>
                            <a href=@Url.RouteUrl(new {Controller="Product" ,Action="ProductItem" , Id=item.ProductID }) style="color:#FFA705">@item.ProductName</a>
                        </h5>
                    </li>
                }
            </ul>
        </div>
        <script type="text/javascript">
            $(window).load(function () {
                $("#flexiselDemo1").flexisel({
                    visibleItems: 4,
                    animationSpeed: 1000,
                    autoPlay: true,
                    autoPlaySpeed: 3000,
                    pauseOnHover: true,
                    enableResponsiveBreakpoints: true,
                    responsiveBreakpoints: {
                        portrait: {
                            changePoint: 480,
                            visibleItems: 1
                        },
                        landscape: {
                            changePoint: 640,
                            visibleItems: 2
                        },
                        tablet: {
                            changePoint: 768,
                            visibleItems: 3
                        }
                    }
                });

            });
        </script>
    </div>
</div>
<!-- //top-brands -->